<div class="register">
    <div class="register__header">
        <h2 class="register__header-title">
            Tạo tài khoản
        </h2>
        <p class="register__header-description">
            Đã có tài khoản?
            <a (click)="navigateToLogin()" class="register__header-title-link">Đăng nhập</a>
        </p>
    </div>

    <div class="register__form">
        <form action="" class="register__form-group" [formGroup]="registerForm">

            <label for="" class="register__form-label">
                Nhập mã công ty/ tổ chức của bạn
            </label>
            <input type="text" placeholder="VD: momtech" class="register__form-control" formControlName="join_code">
            <div class="register__form-alert" *ngIf="checkValueError('join_code')">
                <div class="register__form-error" *ngIf="validate('join_code', 'required')">
                    <p class="alert">Mã công ty/ tổ chức không được để trống</p>
                </div>
            </div>

            <label for="" class="register__form-label">
                Nhập tên công ty/ tổ chức của bạn
            </label>
            <input type="text" placeholder="VD: Momtech" class="register__form-control" formControlName="organization_name">
            <div class="register__form-alert" *ngIf="checkValueError('organization_name')">
                <div class="register__form-error" *ngIf="validate('organization_name', 'required')">
                    <p class="alert">Tên công ty/ tổ chức không được để trống</p>
                </div>
            </div>

            <label for="" class="register__form-label">
                Họ và tên
            </label>
            <input type="text" placeholder="VD: Ngô Đình Huy" class="register__form-control" formControlName="name">

            <div class="register__form-alert" *ngIf="checkValueError('name')" >
                <div class="register__form-error" *ngIf="validate('name', 'required')">
                    <p class="alert">Họ và tên không được để trống</p>
                </div>
                <div class="register__form-error" *ngIf="validate('name', 'minlength')">
                    <p class="alert">Tên của bạn phải có ít nhất {{registerForm.get('name')?.errors?.['minlength'].requiredLength}} ký tự</p>
                </div>
            </div>



            <label for="" class="register__form-label">
                Email
            </label>
            <input type="text" placeholder="Email" class="register__form-control" formControlName="email">

            <div class="register__form-alert" *ngIf="checkValueError('email')" >
                <div class="register__form-error" *ngIf="validate('email', 'required')">
                    <p class="alert">Email không được để trống</p>
                </div>
                <div class="register__form-error" *ngIf="validate('email', 'email')">
                    <p class="alert">Email không hợp lệ</p>
                </div>
            </div>

            <label for="" class="register__form-label">
                Mật khẩu
            </label>
            <input type="password" placeholder="******" class="register__form-control" formControlName="password">

            <div class="register__form-alert" *ngIf="checkValueError('password')">
                <div class="register__form-error" *ngIf="validate('password', 'required')">
                    <p class="alert">Mật khẩu không được để trống</p>
                </div>
                <div class="register__form-error" *ngIf="validate('password', 'minlength')">
                    <p class="alert">Mật khẩu phải có ít nhất {{registerForm.get('password')?.errors?.['minlength'].requiredLength}} ký tự</p>
                </div>
                <div class="register__form-error" *ngIf="validate('password', 'maxlength')">
                    <p class="alert">Mật khẩu không được nhiều hơn {{registerForm.get('password')?.errors?.['maxlength'].requiredLength}} ký tự</p>
                </div>
            </div>

            <label for="" class="register__form-label">
                Xác nhận lại mật khẩu
            </label>
            <input type="password" placeholder="******" class="register__form-control" formControlName="confirmPassword">

            <div class="register__form-alert" *ngIf="checkValueError('confirmPassword')">
                <div class="register__form-error" *ngIf="validate('confirmPassword', 'required')">
                    <p class="alert">Xác nhận mật khẩu là bắt buộc</p>
                </div>
            </div>
            <div class="register__form-error" *ngIf="!checkConfirmPassword() && registerForm.get('confirmPassword')?.touched">
                <p class="alert">Xác nhận lại mật khẩu không trùng khớp</p>
            </div>

            <div *ngIf="error" class="register__form-warning">
                <p class="register__form-error-message">
                    {{error}}
                </p>
            </div>

            <button class="register__form-submit" type="button" (click)="submit()" [disabled]="registerForm.invalid">
                Đăng ký
            </button>
        </form>
    </div>
</div>
